// Fonts
@font-face {
	font-family: "Courier New";
	src: url("/fonts/CourierNew.ttf");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

// Global styling
html,
body {
	padding: 0;
	margin: 0;
	background-color: rgb(33, 36, 41);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

// Override font for SVG
.injected_svg {
	font-family: "Courier New", monospace !important;
}
