.home__svg {
  // Override SVG font
  font-family: "Courier New", monospace !important;
}

// Options table
.home__options {
  background-color: rgb(25, 27, 31);
  max-width: 500px;
  width: calc(100% - 52px);
  box-shadow: rgb(0 0 0 / 1%) 0px 0px 1px, rgb(0 0 0 / 4%) 0px 4px 8px,
    rgb(0 0 0 / 4%) 0px 16px 24px, rgb(0 0 0 / 1%) 0px 24px 32px;
  border-radius: 24px;
  margin: 50px auto;
  border: 1px solid rgb(77, 83, 95);
  text-align: left;
  padding: 25px 25px;
  color: white;

  h3:first-of-type {
    margin-block-start: 0px;
  }

  h3 {
    margin-block-start: 30px;
    margin-block-end: 0px;
  }

  p {
    margin-block-start: 5px;
    margin-block-end: 15px;
    color: rgb(161, 169, 184);
  }

  > div {
    .home__options_colors {
      background-color: rgb(33, 36, 41);
      border: 1px solid rgb(44, 47, 54);
      border-radius: 5px;
      width: calc(100% - 20px);
      display: block;
      color: #fff;
      font-size: 18px;
      padding: 10px 10px;
      margin: 5px 0px;

      > div {
        width: 100% !important;
      }
    }

    h4 {
      margin-block-start: 20px;
      margin-block-end: 10px;
      color: rgb(131, 138, 151);
    }

    input {
      background-color: rgb(33, 36, 41);
      border: 1px solid rgb(44, 47, 54);
      border-radius: 5px;
      width: calc(100% - 20px);
      display: block;
      color: #fff;
      font-size: 18px;
      padding: 10px 10px;
      margin: 5px 0px;
    }

    button {
      background-color: rgb(33, 114, 229);
      color: #fff;
      width: 100%;
      border: none;
      font-size: 18px;
      border-radius: 5px;
      padding: 10px 0px;
      margin: 10px 0px;
      cursor: pointer;
    }

    button:hover {
      opacity: 0.8;
    }
  }
}
